/* Google Font : Baloo 2 and Noto Sans Traditional Chinese */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;900&family=Poppins:wght@100;300;500;700;900&display=swap');

:root {
    --bg-sun-light: #f9f9f9;
    --bg-sun-normal: #e9e9e9;
    --bg-sun-alt: #d9d9d9;
    --text-sun-normal: #121212;
    --text-sun-light: #888888;
    
    --hue-color: 220;
    --skin-color: hsl(var(--hue-color), 50%, 50%);
    --skin-color-light: hsl(var(--hue-color), 50%, 70%)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    outline: none;
    text-decoration: none;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins 2', 'Noto Sans TC', sans-serif;
}

::before, ::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/* main-content */
main{
    padding-left: 270px;
}
.section {
    background-color: var(--bg-sun-alt);
    min-height: 100vh;
    padding: 0 30px;
    display: block;
    opacity: 1;
}

.hidden{
    display: none !important;
}

.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}

.shadow-dark {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 40px;
    background-color: var(--skin-color);
    color: white;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    transition: all .5s ease;
    margin: 5px 10px;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    font-weight: 500;
    color: var(--text-sun-normal);
    position: relative;
}
.section-title h2::before {
    content: ' ';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}
.section-title h2::after {
    content: ' ';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
/* ===================== Aside ===================== */
aside {
    width: 270px;
    padding: 30px;
    background-color: var(--bg-sun-light);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.35) 4px 2px 10px;
}

aside div.logo {
    position: absolute;
    top: 50px;
    font-size: 50px;
    text-transform: capitalize;
    border-top: 3px dashed var(--text-sun-normal);
    border-bottom: 3px dashed var(--text-sun-normal);
}

aside div.logo a {
    color: var(--text-sun-normal);
    font-weight: 800;
    padding: 0;
}

aside div.nav-toggler{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-sun-normal);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background-color: var(--bg-sun-light);
    box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 5px;
    display: none;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

aside div.nav-toggler:hover{
    transform: scale(1.1);
    opacity: 0.8;
}

aside div.nav-toggler span{
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

aside div.nav-toggler span::before{
    content: ' ';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -8px;
    left: 0px;
}

aside div.nav-toggler span::after{
    content: ' ';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 8px;
    left: 0px;
}

aside nav ul li{
    margin: 20px;
}

aside nav ul li a{
    display: block;
    color: var(--text-sun-normal);
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid var(--text-sun-light);
    transition: .5s;
}

aside nav ul li a:hover{
    color: var(--skin-color-light);
    border-color: var(--skin-color-light);
    font-size: 21px;
}

aside nav ul li a i{
    margin-right: 15px;
    margin-left: 15px;
}

aside nav ul li a.active{
    color: var(--skin-color);
    border-color: var(--skin-color);
}

/* ===================== Home ===================== */
.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-sun-normal);
}
.home .home-info{
    flex: 0 0 60%;
    max-width: 60%;
}
.home .home-info h3.hello{
    font-size: 26px;
    font-weight: 700;
    margin: 20px 0;
}
.home .home-info h3.hello span{
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}
.home .home-info h3.my-profession{
    font-size: 25px;
    font-weight: 500;
    margin: 20px 0;
}
.home .home-info h3.my-profession span{
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}
.home .home-info p{
    font-size: 20px;
    color: var(--text-sun-normal)
}

.home .home-info .social-media{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.home .home-info .social-media .social-icon{
    font-size: 50px;
    color: var(--skin-color);
    margin: 0 5px;
    transition: all .5s ease;
}
.home .home-info .social-media .social-icon:hover{
    color: var(--text-sun-normal);
    transform: scale(1.2);
}

.home .home-img{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

.home .home-img img{
    height: 400px;
    border-radius: 10px; 
    margin: auto;
}


 /* ===================== About ===================== */
.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .skills{
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.about .about-content .skills .skill-type, 
.about .about-content .skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .skills .skill-type h4 {
    font-size: 25px;
    font-weight: 800;
    color: var(--text-sun-light);
    text-align: center;
}

.about .about-content .skills .skill-item {
margin-bottom: 30px;
}

.about .about-content .skills .skill-item h5 {
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-sun-normal);
    text-transform: capitalize;
}

.about .about-content .skills .skill-item .progress {
    background-color: var(--bg-sun-normal);
    width: 100%;
    height: 7px;
    border-radius: 4px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
}

.about .about-content .skills .skill-item .progress .progress-in {
    background-color: var(--skin-color);
    height: 100%;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
}

.about .about-content .skills .skill-item .progress .skill-percent {
position: absolute;
right: 0;
top: -35px;
color: var(--text-sun-normal);
font-weight: 400px;
}

.about .about-content .education, 
.about .about-content .experience {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}

.about .about-content h3.title {
    font-size: 25px;
    font-weight: 700px;
    margin-bottom: 20px;
    color: var(--text-sun-normal);
}

.about .about-content .timeline-box {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .timeline {
    background-color: var(--bg-sun-light);
    padding: 30px 15px;
    border: 2px solid var(--bg-sun-normal);
    border-radius: 10px;
    width: 100%;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
}

.about .about-content .timeline .timeline-item {
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}

.about .about-content .timeline .timeline-item:last-child {
    padding-bottom: 0;
}

.about .about-content .timeline .timeline-item::before {
    content: ' ';
    width: 1px;
    height: 100%;
    position: absolute;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}

.about .about-content .timeline .circle-dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
    position: absolute;
    left: 0;
    top: 0;
}

.about .about-content .timeline .timeline-date {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 12px;
    color: var(--text-sun-light);
}

.about .about-content .timeline .timeline-date i {
    margin-right: 5px;
}

.about .about-content .timeline .timeline-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 12px;
    text-transform: capitalize;
    color: var(--text-sun-normal);
}

.about .about-content .timeline .timeline-text {
    line-height: 25px;
    font-size: 18px;
    text-align: justify;
    color: var(--text-sun-normal);
}

/* ========= portfolio ========= */
.portfolio .container {
    padding-bottom: 40px;
}

.portfolio .portfolio-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}

.portfolio .portfolio-item-inner {
    overflow: hidden;
    border: 6px solid var(--bg-sun-alt);
    border-radius: 10px;
}

.portfolio .portfolio-item-inner .portfolio-img img {
    width: 100%;
    display: block;
}

.portfolio .portfolio-item-inner h4 {
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

.portfolio .portfolio-item-inner p {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

/* ======= contact ======= */
.contact .contact-title {
    font-size: 30px;
    font-weight: 900;
    color: var(--skin-color);
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0;
}

.contact .contact-text {
    font-size: 25px;
    font-weight: 500;
    color: var(--text-sun-normal);
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0 30px;
}

.contact .contact-info-item {
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
}

.contact .contact-info-item .icon {
    display: inline-block;
}

.contact .contact-info-item .icon i {
    font-size: 50px;
    color: var(--skin-color);
}

.contact .contact-info-item h4 {
    font-size: 20px;
    font-weight: 900;
    color: var(--text-sun-normal);
    text-transform: capitalize;
    margin: -5px 0 5px;
}

.contact .contact-info-item p {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-sun-light);
    margin-bottom: 30px;
}
/* Responsive */
@media (max-width:1210px) {
    aside {
        left: -270px;
    }
    main {
        padding-left: 0;
    }
}

@media (max-width:890px) {
    .home .home-info {
        flex: 0 0 100%;
        max-width: 100%;
        order: 2;
    }
    .home .home-img {
        flex: 0 0 100%;
        max-width: 100%;
        order: 1;
    }
    .about .about-content .skills,
    .portfolio .portfolio-item {
        flex: 0 0 50%;
        max-width: 50%;
    }

}

@media (max-width: 780px) {
    .about .about-content .skills,
    .portfolio .portfolio-item,
    .about .about-content .education,
    .about .about-content .experience {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 500px) {
    .contact .contact-info-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .contact .contact-text {
        font-size: 16px;
    }

    .home .home-info h3.my-profession {
        font-size: 22px;
    }
    .home .home-info h3.my-profession span {
        font-size: 26px;
    }
    .home .home-img img{
        height: 300px;
    }

}